.museum-hours {
  @include page-grid;

  &__intro {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__location {
    margin-bottom: 24px;
  }

  &__label {
    color: $main-accent-color;
  }

  &__location-title {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
  }

  &__schedule {
    display: flex;
    margin-bottom: 16px;
  }

  &__row--time {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: 16px;
    line-height: 27px;
    font-weight: 700;
    margin-right: 24px;
  }
  &__row--days {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: 16px;
    line-height: 27px;
    font-weight: 400;
  }

  &__note {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
  }

  &__note-label {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
  }
}
