.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 700px;
  font-size: 32px;
  letter-spacing: -1, 5px;
  line-height: 100%;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
  }

  &--aling-left {
    text-align: left;
  }
}
